body{

    background-color:rgba(47, 6, 160, 0.527);
    text-align: center;
    

}

.calc{

     background-color: rgba(70, 39, 156, 0.562);



}

.calc{

    background-color: rgba(70, 39, 156, 0.562);



}



    
